:root {
  --black: #000;
  --white: #fff;
  --red-primary: #e50914;
  --red-primary-dark: #bf0710;
  --bg-black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  background-color: var(--bg-black);
}

.container {
  padding: 0 1.5rem;
}

.ml-auto {
  margin-left: auto;
}

/* Navbar styles */
.navbar {
  border-bottom: solid 1px #fff;
}

.navbar .navbar-nav li {
  list-style: none;
}

.navbar .navbar-nav .nav-link,
.navbar .navbar-nav .nav-btn {
  text-decoration: none;
  color: var(--white);
  position: relative;
}

.navbar .navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 3px;
  width: 0px;
  border-radius: 2px;
  background-color: var(--red-primary);
  transition: 0.4s ease-in;
}

.navbar .navbar-nav .nav-link:hover::after {
  width: 100%;
}

.navbar .navbar-nav .nav-btn {
  padding: 8px 16px;
  margin: auto;
  background-color: var(--red-primary-dark);
  outline: none;
  text-transform: uppercase;
}

.navbar .navbar-nav .nav-btn:hover {
  background-color: var(--red-primary);
}

/* Carousel styles */
.row > * {
  padding-left: 0;
  padding-right: 0;
}

.carousel {
  height: auto !important;
}

.carousel-column {
  height: inherit;
  width: 900px;
  margin: 2.5rem auto;
}

.carousel-inner .carousel-item img {
  height: 550px;
}

@media screen and (max-width: 768px) {
  .carousel-inner .carousel-item img {
    height: 320px;
  }
}

@media screen and (max-width: 480px) {
  .carousel-inner .carousel-item img {
    height: 210px;
  }
}

.top-rated,
.new-releases {
  margin: 2rem 0;
}

.top-rated .block,
.new-releases .block {
  border-left: 4px solid var(--red-primary-dark);
  padding-left: 1rem;
}

/* Slider styles */
.slider {
  display: flex;
  overflow-x: scroll;
  padding: 24px 0;
  scroll-snap-type: x mandatory;
  scroll-padding: 24px;
  gap: 12px;
}

.slider .card {
  flex: 0 0 16.66%;
  scroll-snap-align: start;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  border-radius: 8px;
  cursor: pointer;
}

.slider .card img {
  width: inherit;
  height: 330px;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.slider .card img:hover {
  opacity: 0.8;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider .rating {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 10px 10px;
  padding: 2px 4px;
  border-radius: 4px;
}

.slider .card .card-body {
  color: #fff;
}

.slider .card .card-body p {
  font-size: 18px;
  margin-bottom: 0.25rem;
}

.slider .card .card-body button {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 4px;
  color: var(--red-primary);
  font-weight: bolder;
}

.slider .card .card-body button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

@media screen and (max-width: 1200px) {
  .slider .card {
    flex: 0 0 25%;
  }
  .slider .card img {
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .slider .card {
    flex: 0 0 41.66%;
  }
  .slider .card img {
    height: 300px;
  }
}

@media screen and (max-width: 480px) {
  .slider .card {
    flex: 0 0 58.33%;
  }
  .slider .card img {
    height: 250px;
  }
}
